<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"  
       xmlns:mvc="http://www.springframework.org/schema/mvc"  
       xmlns:context="http://www.springframework.org/schema/context"  
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
       xsi:schemaLocation="http://www.springframework.org/schema/beans  
            http://www.springframework.org/schema/beans/spring-beans.xsd  
            http://www.springframework.org/schema/context   
            http://www.springframework.org/schema/context/spring-context.xsd  
            http://www.springframework.org/schema/mvc  
            http://www.springframework.org/schema/mvc/spring-mvc.xsd"
            default-autowire="byName">
	<mvc:annotation-driven/>
	<!-- 开启注解模式，扫描com.jk.controller包下的所有子包中的所有类，
	凡是包含@Controller注解的类都会生成控制层实例 -->
	<context:component-scan base-package="com.jk.controller"></context:component-scan>
	<!--
        jsp视图解析器，对模型视图名称的解析，即在模型视图名称添加前后缀
	        如/view/welcome.jsp对应的视图名就是：welcome
	        这个类在视图解析器链中一定要定义在其他视图的后面，因为它始终会返回一个视图
    -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
    	<!-- 返回值的前缀 -->
        <property name="prefix" value="/WEB-INF/"/>
        <!-- 返回值的后缀 -->
        <property name="suffix" value=".jsp"/>
    </bean>
    
   <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">  
	    <property name="maxUploadSize" value="10485760" />  
	</bean>
	    
     <!-- 配置拦截器 -->
     <mvc:interceptors>
    	<mvc:interceptor>
    		<mvc:mapping path="/*/**.jhtml"/>
    		<mvc:mapping path="/*/*.jhtml"/>
    		<mvc:mapping path="/user/**.jhtml"/>
    		<mvc:mapping path="/*.jhtml" />
    		<mvc:exclude-mapping path="/log*.jhtml"/>
    		<mvc:exclude-mapping path="/register*.jhtml"/>
    		<mvc:exclude-mapping path="/Check*.jhtml"/>
    		<bean class="common.interceptor.MyInterceptor"></bean>
    	</mvc:interceptor>
    </mvc:interceptors>
    
</beans> 
